myenv/pyvenv.cfg
__pycache__/graphics.cpython-310.pyc
myenv
__pycache__/parse.cpython-310.pyc
sped.py
parse2.py
data2.csv
test1.py
fix.py
MouSee/__pycache__/Calibration_page_MouSee.cpython-310.pyc
MouSee/__pycache__/CircleClass.cpython-310.pyc
MouSee/__pycache__/Create_new_user.cpython-310.pyc
MouSee/__pycache__/End_screen.cpython-310.pyc
MouSee/__pycache__/Interactive_Mode.cpython-310.pyc
MouSee/__pycache__/Main_menu_MouSee.cpython-310.pyc
MouSee/__pycache__/Start_page_MouSee.cpython-310.pyc
MouSee/__pycache__/Training_page_MouSee.cpython-310.pyc
MouSee/__pycache__/User_select_MouSee.cpython-310.pyc
MouSee/__pycache__/Calibration_page_MouSee.cpython-310.pyc
MouSee/__pycache__/CircleClass.cpython-310.pyc
MouSee/__pycache__/Create_new_user.cpython-310.pyc
MouSee/__pycache__/End_screen.cpython-310.pyc
MouSee/__pycache__/Interactive_Mode.cpython-310.pyc
MouSee/__pycache__/Main_menu_MouSee.cpython-310.pyc
MouSee/__pycache__/Start_page_MouSee.cpython-310.pyc
MouSee/__pycache__/Training_page_MouSee.cpython-310.pyc
MouSee/__pycache__/User_select_MouSee.cpython-310.pyc
updated_data.csv
training.py
